<!doctype html>
<html lang="en" ng-app="angularMultiCheckDemo">
<head>
  <meta charset="UTF-8">
  <title>Example - MultiCheck</title>
  

  <script src="angular.js"></script>
  <script src="app.js"></script>
  <script src="angular-multi-check.js"></script>
  
<style>
.multi-check label{display: block;}
.multi-check-items {
    max-height: 100px;
    overflow-y: auto;
}

.multi-check-items label {
    border: 1px solid gray;
    margin-bottom: -1px;
}

.multi-check {
    border: 1px solid gray;
    padding: 2px;
}
</style>
  
</head>
<body >
    <div ng-controller="demoController">
	{{row}}  //  {{model}}
	<input ng-model="row.data" >
	{{colors}}
	<hr>
    <multi-simple-check items="colors" ng-model="row.data"></multi-simple-check>
	<hr>
	<multi-check all-items-key="0" all-items-label="'--  all --'" items="colorsRows" item-key="'id'" item-label="'name'" ng-model="row.ids1"></multi-check>
	<hr>
	<multi-check  items="colorsRows" item-key="'id'" item-label="'name'" ng-model="row.ids"></multi-check>
  </div>
</body>
</html>